<!-- <!DOCTYPE html>
<html>
<head>
  <title>List the students alphabetically</title>
</head>
<body>
  <h1>List of students</h1>
  <ul>
    <% @students.each do |student| %>
      <li> <%= student['name'] %>, <%= student['age'] %>
      </li>
    <% end %>
  </ul>
</body>
</html>
 -->

<!DOCTYPE html>
<html>
<head>
  <title>Student List</title>
</head>
<body>
  <h1>List of Students in Alphabetical Order</h1>
  <h2>Except for the people with titles</h2>
  <% @students.sort!{|key,value| key['name']<=>value['name']} %>
  <ul>
    <% @students.each do |student| %>
      <li> <%= student['name'] %>, <%= student['age'] %>
      </li>
    <% end %>
  </ul>
</body>
</html>